
	</div>
	<footer class="footer">
		// Тут футер страниц
	</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>