//= template/header.html

<section class="">
    <ul style="list-style: none">
        <li>
            <a href="/main.html" class="">Главная</a>
        </li>
    </ul>
</section>

//= template/footer.html



